@font-face {
  font-family: 'fontA'; /* Гарнитура шрифта */
  src: url(fonts/19718.ttf); /* Путь к файлу со шрифтом */
}



* {
  margin: 0;
  padding: 0;
}
.transition_fast {
    transition: 0.3s;
}
.transition_slow {
    transition: 0.5s;
}
.transition_superslow {
    transition: 2s;
}
.button {
  color: inherit;
  outline: none;
  text-decoration: none;
}
#header {
  z-index: 999;
  width: 100%;
  background-color: black;
  position: fixed;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  left: 0px;
}
#logo {
  font-size: 30pt;
  color: #778899;
  font-family: fontA;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 10px;
  display: inline-block;
}
#logo:hover {
  color: #2F4F4F;
  cursor: pointer;
}
#languageSelectionBox {
  display: none;
  padding-bottom: 20px;
  width: 200px;
  margin-top: 90px;
  right: 15px;
  background-color: black;
  position: fixed;
  z-index: 1000;
  border: 3px solid #696969;
  -moz-border-radius: 12px;
  -khtml-border-radius: 12px;
  -webkit--border-radius: 12px;
  border-radius: 12px;
}
.header_blocks {
  right: 15px;
  font-size: 20pt;
  color: #778899;
  font-family: fontA;
  display: inline-block;
  float: right;
  margin-top: 29px;
  margin-right: 30px;
}
.header_blocks:hover {
  color: #00BFFF;
  text-decoration: line-through;
  text-shadow: #7B68EE;
  -moz-text-shadow:0 0 20px #7B68EE;
  -webkit-text-shadow:0 0 20px #7B68EE; 
  text-shadow:0 0 20px #7B68EE;
  cursor: pointer;
}
.languageText {
  margin-top: 20px;
  text-align: center;
  font-size: 15pt;
  color: #778899;
  font-family: fontA;
}
.languageText:hover {
  color: white;
  cursor: pointer;
}
#block_mainimage {
  left: 0px;
  margin-left: 0px;
  padding-left: 0px;
  height: 100vh;
}
#image_main {
  position: relative;
  width: 100vw;
  z-index: -5;
  left: 0px;
}
#text_mainimage {
  position: relative;
  top: 50%;
  z-index: 0;
  color: red;
}
.block_package {
  top: 0;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 20px;
}

.block_package2 {
  top: 0;
  width: 100%;
  min-height: 30vh;
  padding-bottom: 20px;
  background-color: black;
}

.block_package3 {
  top: 0;
  width: 100%;
  min-height: 50vh;
  padding-top: 10vh;
  background-color: #1f0828;
}


.block_1 {
  width: 45%;
  display: inline-block;
  margin-left: 10%;
  margin-top: 25vh;
  padding-right: 0px;
  padding-left: 0px;
  color: red;
  border: 3px solid #696969;
  -moz-border-radius: 12px;
  -khtml-border-radius: 12px;
  -webkit--border-radius: 12px;
  border-radius: 12px;
  vertical-align: top;
}
.block_2 {
  width: 30%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 25vh;
  padding-right: 0px;
  padding-left: 0px;
  color: red;
  border: 3px solid #696969;
  -moz-border-radius: 12px;
  -khtml-border-radius: 12px;
  -webkit--border-radius: 12px;
  border-radius: 12px;
  vertical-align: top;
}
.block_1:hover {
  border: 3px solid white;
}
.block_2:hover {
  border: 3px solid white;
}
.block_download {
  padding-top: 10vh;
}

body {
  background-color: #1f0828;
}

html {
  scroll-behavior: smooth;
}

a {
  outline: none;
  color: none;
}


#mainimage {
  left: 0;
  top: 0;
  height: 100vh;
  background-image: url(images/main.png);
  background-size: auto 100vh;
  background-position: center;
}
#roots {
  left: 0;
  top: 0;
  height: 20vh;
  background-image: url(images/roots.png);
  background-size: auto 100vh;
  background-position: center;
}
.zagolovok1 {
  font-size: 20pt;
  font-family: fontA;
  color: #00BFFF;
  text-shadow: #7B68EE;
  -moz-text-shadow:0 0 20px #7B68EE;
  -webkit-text-shadow:0 0 20px #7B68EE; 
  text-shadow:0 0 20px #7B68EE; 
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.zagolovok2 {
  font-size: 40pt;
  font-family: fontA;
  color: #00BFFF;
  text-shadow: #7B68EE;
  -moz-text-shadow:0 0 20px #7B68EE;
  -webkit-text-shadow:0 0 20px #7B68EE; 
  text-shadow:0 0 20px #7B68EE; 
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.zagolovok3 {
  font-size: 40pt;
  font-family: fontA;
  color: #00BFFF;
  text-shadow: #7B68EE;
  -moz-text-shadow:0 0 20px #7B68EE;
  -webkit-text-shadow:0 0 20px #7B68EE; 
  text-shadow:0 0 20px #7B68EE; 
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.microzagolovok4{
  font-size: 20pt;
  font-family: fontA;
  color: white;
  text-shadow: #7B68EE;
  -moz-text-shadow:0 0 20px #7B68EE;
  -webkit-text-shadow:0 0 20px #7B68EE; 
  text-shadow:0 0 20px #7B68EE; 
  cursor: pointer;
  margin-bottom: 15px;
  max-width: 40vw;
}
.text1{
  color: #708090;
  font-size: 20pt;
  font-family: CyrillicOld;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.text2{
  color: white;
  font-size: 20pt;
  font-family: CyrillicOld;
  margin-bottom: 15px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.hr1 {
    border: none; /* Убираем границу */
    background-color: #696969; /* Цвет линии */
    color: 696969; /* Цвет линии для IE6-7 */
    height: 3px; /* Толщина линии */
    margin-left: 0;
    margin-right: 40%;
}
#button_228 {
  color: #2F4F4F;
}
#button_228:hover {
  color: #FFFFFF;
}
#block_diagonal0 {
  height: 15vh;
  background: linear-gradient(to top left, black 50%, #1f0828 50%);
}
#block_diagonal1 {
  height: 15vh;
  background: linear-gradient(to top left, #1f0828 50%, black 50%);
}
#block_diagonal2 {
  height: 6vh;
  background: linear-gradient(to top right, #2F4F4F 50%, #1f0828 50%);
}
#block_diagonal3 {
  height: 6vh;
  background: linear-gradient(to top left, #1f0828 50%, #2F4F4F 50%);
}
#footer {
  min-height: 5vh;
  background-color: #2F4F4F;
}
#black_space{
  height: 10vh;
  background-color: black;
}
.contact_block_noborder {
  display: inline-block;
  width: 30vw;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
}
.contact_block_insideborder {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  border: 3px solid #696969;
  -moz-border-radius: 12px;
  -khtml-border-radius: 12px;
  -webkit--border-radius: 12px;
  border-radius: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.contact_block_insideborder:hover {
  border: 3px solid white;
}
.contact_block {
  display: inline-block;
  width: 30vw;
  min-height: 30vh;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid #696969;
  -moz-border-radius: 12px;
  -khtml-border-radius: 12px;
  -webkit--border-radius: 12px;
  border-radius: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: top;
}
.contact_block:hover {
  border: 3px solid white;
}
.contact_block_inside {
  display: inline-block;
  margin-top: 15px;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
}
.contact_block_photo {
  margin-left: 0;
  margin-right: 0;
  border-radius: 50%;
  padding-right: 0;
  padding-left: 20px;
  width: 100%;
}

.textWhite {
  font-size: 20pt;
  font-family: CyrillicOld;
  color: white;
  text-shadow: #7B68EE;
  -moz-text-shadow:0 0 20px #7B68EE;
  -webkit-text-shadow:0 0 20px #7B68EE; 
  text-shadow:0 0 20px #7B68EE; 
}

.RUS {
  display: none;
}
.ENG {
  display: none;
}

#preloaderDiv {
  background: rgb(34,110,195);
background: linear-gradient(81deg, rgba(34,110,195,1) 0%, rgba(177,45,253,1) 100%);
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  font-size: 70pt;
  font-family: fontA;
  color: white;
  z-index: 1001;
}

#preloaderText {
  padding-top: 35vh;
  padding-bottom: 0vh;
}
