
@font-face {
  font-family: 'CyrillicOld';
  src: url('CyrillicOld.eot?#iefix') format('embedded-opentype'),  url('CyrillicOld.woff') format('woff'), url('CyrillicOld.ttf')  format('truetype'), url('CyrillicOld.svg#CyrillicOld') format('svg');
  font-weight: normal;
  font-style: normal;
}
