@font-face {
    font-family: 'CyrillicOld';
    src: url('CyrillicOld.eot');
    src: url('CyrillicOld.eot?#iefix') format('embedded-opentype'),
        url('CyrillicOld.woff2') format('woff2'),
        url('CyrillicOld.woff') format('woff'),
        url('CyrillicOld.ttf') format('truetype'),
        url('CyrillicOld.svg#CyrillicOld') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

